# Python
*.py[cod]
__pycache__/

# Package
*.egg
*.egg-info/
dist/
build/
_build/

# anything hidden should be manually added
.*

# conda smithy ci-skeleton start
*.pyc

build_artifacts
# conda smithy ci-skeleton end
